*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    background-color: #000;
}
.header{
    position: fixed;
    background-color: #000;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #afafaf93;
    z-index: 100;
   
}
.header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: auto;
    height: 80px;
    
}
.header nav .logo{
    color: #fff;
    font-size: 30px;
    font-weight: bolder;

}
.header nav .logo span{
    color: gold;
}
.header nav .links {
    display: flex;
}
.header nav .links li{
    position: relative;
    margin: 0 25px;
    height: 80px;
    line-height: 80px;
    list-style: none;
}
.header nav .links li::after{
    position: absolute;
    content: '';
    width: 0%;
    height: 2px;
    bottom: 0;
    background-color: gold;
    left: 0;
    transition: 0.3s;
}
.header nav .links li:hover::after{
    width: 100%;
}
.header nav .links li.active::after{
  width: 100%;
}
.header nav .links li a {
    color: #c8c6c6;
    font-size: 17px;
}
.header nav .social_links a{
    color: gold;
    font-size: 24px;
    margin-left: 15px;
}
.header nav .social_links a:hover {
    color: #fff;
}
.header nav .hamburger{
    display: none;
}
.hero-section .container{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
   
}
.hero-section{
    height: 100vh;
    overflow: hidden;
   
}
.hero-section .container .text{
    width: 60%;
    

}
.hero-section .container .text h1{
    color: #fff;
    font-size: 55px;
    margin-bottom: 10px;
    margin-top: 100px;
    
}
.hero-section .container .text span{
    font-size: 30px;
    color: gold;
}
.hero-section .container .text p{
    color: #c8c6c6;
    font-size: 18px;
    margin: 10px 0 50px;
    line-height: 1.7;
}

.hero-section .container .text .btn{
color: #fff;
border: 1px solid gold;
background-color: gold;
padding: 12px 40px;
border-radius: 5px;
transition: 0.3s;
}
.hero-section .container .text .btn:hover{
    background: transparent;
}
.hero-section .img-pers{
     width: 35%;
     min-height: 100vh; 
}
.hero-section .img-pers img{
    margin-top: 140px;
    width: 100%;
}
/* about*/
.about{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;  
}
.img_about{
    width: 50%;
   
}
.img_about img{
    width:100%;
    margin-left:-150px; 
}

.description_about{
    width: 50%;
    color: #fff;

}
.description_about h2{
    margin: 120px 10px 0px 0px;
    font-size: 30px;
}
.description_about h2 span{
    color: gold;
}
.description_about h3{
    margin: 10px 0;  
    font-size: 40px;
}
.description_about h3 span{
    color: gold;
}
.description_about p{
    color: #c8c6c6;
    font-size: 18px;
    line-height: 1.7;
    
}
/*skills*/
.container_skills{
    width: 85%;
    margin: auto;   
}
.skills{
    width: 60%;
    margin: 40px auto;
    color: #fff;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(134, 134, 134, 0.218) ;
    background-color: rgb(17, 16, 16);
   
    
}
.skills li{
    list-style: none;
    margin: 20px 0;
    padding: 10px;
}
.bar{
    background-color: #353b48;
    display: block;
    height: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 1px 3px gray;
    transition: all cubic-bezier(0.25, 0.8, 0.25, 1);
}
.bar:hover{
    box-shadow: 0px 3px 10px white;
}
.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg,rgb(245, 212, 23)0%,gold 100%);
}
.html{
    width: 90%;
    animation: html 3s;

}
.css{
    width: 95%;
    animation: css 3s;

}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 95%;
    }
}
.container_skills h1{
    margin-bottom: -20px;
    color: #fff;
   
}
.skills h3{
    margin: 5px; 
}


/*projects*/

.container{
    width: 85%;
    margin: auto;
 
}
.projects{
    width: 60%;
    margin-top:30px;
    margin: 60px auto;
}
 h1{
    color:#fff;
    margin-top: 150px;
   
}
.card{
    width: 100%;
    height: 420px;
    border: 1px solid #c8c6c6;
    border-radius: 5px;
    margin-bottom: 50px;
    overflow: hidden;
    
}
.contenu_card{
    display: flex;
    flex-direction: column;
   
}
.contenu_card .contenu_img{
    padding: 10px 20px;
}
.contenu_card img{
    width: 100%;
    height: 250px;
    border-radius: 5px;
}

.contenu_card .title_project{
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    padding: 5px 25px;
}
.contenu_card .description_project{
    color: #d4cece;
    font-size: 14px;
    padding: 5px 25px;
    line-height: 1.5;
}

/* contact*/
.contact{
    width: 85%;
    margin: auto;
    margin-top: 40px;
    position: relative;
    overflow: hidden;
    height: 700px;
    margin-bottom: 80px;
    
}
.contact h1{
    color:#fff;
    margin-bottom: 25px;
    margin-top: 80px;
}
.form_contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.form_contact h4{
    color: #fff;
}
.form_contact .input {
    width: 60%;
}

.form_contact .input input{
    width: 100%;
    margin-bottom: 20px;
    font-size: 20px;
    color: #fff;
    border-radius: 5px;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid gray;
}
.form_contact .input textarea{
    width: 100%;
    margin-bottom: 20px;
    font-size: 20px;
    color: #fff;
    border-radius: 5px;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid gray;
}
.form_contact input:focus{
    border-color: gold;
    outline: none;
}
.form_contact textarea:focus{
    border-color: gold;
    outline: none;
}
.form_contact .btn_message{
    background-color: gold;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 3px;
    position: absolute;
    bottom: 0;
    margin-bottom: 60px;
   
}
  .input .error {
    color: red;
    font-size: 15px;
}
.alert{
    color: gold;
    background-color: #fff;
    width: 30%;
    margin: auto;
   margin-top: 50px;
   text-align: center;
   padding: 20px;
   font-size: 18px;
   border-radius: 3px;
   font-weight: bold;

}
/*footer*/

.footer {
    background-color: #333; 
    color: #fff; 
    text-align: center; 
    padding: 20px 0; 
}

.footer p {
    margin: 0; 
    font-size: 1rem;
    background-color: #333; 
}











/* resposive  NAV*/
@media screen and (min-width:973px) and (max-width: 1126px)  {
    .hero-section .container .text h1 {
        font-size: 35px;

    }
}
@media screen and (max-width:974px) {
    .header nav .links{
        position: absolute;
        flex-direction: column;
        background-color: #000;
        top: 100%;
        right: -450px;
        border-left: 1px solid #444444a8;
        width: 400px;
        height: 100vh;
        text-align: center;
        padding: 20px 0;
        transition: 0.3;

    }
    .header nav .links.apparent{
        right:0;
       
    }
    .header nav .social_links{
        display: none;
    }
    .header nav .hamburger{
        display: block;
        color: #fff;
        font-size: 20px;
    }
    .hero-section{
        height: auto;
    }
    .hero-section .container{
        flex-direction: column;
    }
    .hero-section .container .text{
        width: 80%;
        margin-top: 120px;
        margin-bottom:60px;
        text-align: center;
    }
    .hero-section .container .text p{
        margin: 5px 0;
        font-size: 15px;
    }
    .hero-section .container .img-pers{
        width: 50%;
        margin-top: -30px;
    }

    .hero-section .container .text span{
        font-size: 20px;
        
    }
    .hero-section .container .text h1{
        font-size: 35px;
        
    }
   

}
@media screen and (max-width:537px){
    .hero-section .container .text h1{
        font-size: 25px;
        
    }
}
@media screen and(max-width:450px){
    .hero-section .container .text p{
        margin: 5px 0;
        font-size: 10px;
       
    }
    .hero-section .container .img-pers{
        width: 20%;
        margin-top: -20px;
        
      
    }
    .hero-section .container .text span{
        font-size: 15px;
      ;
        
    }
    .hero-section .container .text h1{
        font-size: 25px;
        
    }
    
}
@media screen and (max-width:384px){
    .hero-section .container .text h1{
        font-size: 20px;
        
    }
}
@media screen and (max-width:307px){
    .hero-section .container .text h1{
        font-size: 18px;
        
    }
}

/*responsive ABOUT*/

@media screen and (max-width:974px){
    .about{
        height: auto;
    }
    .about .img_about{
        width: 50%;
    }
    .about .img_about img{
        width: 100%;
        margin-left: -100px;
        margin-top: 50px;
    }
    .about .description_about{
        width: 50%;
    }
    .about .description_about h2{
        font-size: 25px;
    }
    .about .description_about h3{
        font-size: 35px;
    }
    .about .description_about p{
        font-size: 15px;
    }
    
}




@media screen and (max-width:648px){
    .about .description_about h2{
        font-size: 20px;
    }
    .about .description_about h3{
        font-size: 30px;
    }
    .about .description_about p{
        font-size: 15px;
    }
    .about .img_about img{
        width: 100%;
        margin-left: -60px;
        margin-top: 70px;
    }
}
@media screen and (max-width:555px){
    .about .img_about{
        width: 45%;
    }
    .about .description_about{
        width: 55%;
    }
    .about .img_about img{
        width: 100%;
        height: 270px;
        margin-left: -50px;
        margin-top: 80px;
    }
}
@media screen and (max-width:531px){
    .about{
        flex-direction: column;
      
    }
    .about .img_about img{
        display: none;
    }
    .about .description_about{
        width: 80%;
        margin: auto;
        text-align: center;
       
       
    }
}
@media screen and (max-width:450px){
    .about .description_about h3{
        font-size: 25px;
    }
}
@media screen and (max-width:370px){
    .about .description_about h3{
        font-size: 20px;
    }
}

/*responsive skills*/
@media screen and (max-width:590px){
    .container_skills h1{
        font-size: 25px;
    }
    .container_skills .skills li h3{
        font-size: 16px;
    }
    .container_skills .skills li .bar{
        height: 10px;
    }
}
@media screen and (max-width:391px){
    .container_skills h1{
        font-size: 23px;
    }
    .container_skills .skills li h3{
        font-size: 14px;
    }
    .container_skills .skills li .bar{
        height: 8px;
    }
}



/*responsive projects*/

@media screen and (max-width:1250px){
    .card{
        height: 500px;
    } 
}

@media screen and (max-width:590px){
    .container h1{
        font-size: 25px;
    }
    .card{
        height: 550px;
    } 
}
@media screen and (max-width:512px){
    .projects .title_project{
        font-size: 14px;
        text-align: center;
    }
    @media screen and (max-width:474px){
        .card{
            height: 500px;
        }
        .contenu_card img{
            height: 130px;
        }
    }
    @media screen and (max-width:444px){
        .contenu_card img{
            height: 130px;
        }

    }
}
@media screen and (max-width:391px){
    .card{
        height: 520px;
    }
    .container h1{
        font-size: 23px;
    } 
    .projects .title_project{
        font-size: 14px;
        padding: 5px 10px;
        text-align: center;
    }
    .projects .description_project{
        font-size: 13px;
        line-height: 1.5;
        padding: 5px 11px;
       

    }
    .contenu_card img{
        height: 130px;
    }
}
@media screen and (max-width:331px){
    .contenu_card img{
        height: 110px;
    }
}

@media screen and (max-width:322px){
    .card{
        height: 520px;
    }
    .projects .description_project{
        font-size: 11px;
        line-height: 1.2;
        padding: 5px 11px;
       

    }
}
@media screen and (max-width:272px){
    .card{
        height: 520px;
    }
    .projects .description_project{
        font-size: 12px;
        line-height: 1.2;
        padding: 5px 11px;
       

    }
}
@media screen and (max-width:736px){
    .card{
        height: 520px;
    }
    .projects .description_project{
        font-size: 14px;
        line-height: 1.3;
        padding: 5px 11px;
       

    }
}
@media screen and (max-width:569px){
    .card{
        height: 550px;
    }
    
    .projects .description_project{
        font-size: 13px;
        line-height: 1.2;
        padding: 5px 19px;
       

    }
}
@media screen and (max-width:495px){
    
    .projects .description_project{
        font-size: 13px;
        line-height: 1.2;
        padding: 5px 19px;
       

    }
}


/*responsive contact*/

@media screen and (max-width:590px){
    .contact h1{
        font-size: 25px;
    }
    .contact .form_contact .input h4{
        font-size: 15px;
    }
    .form_contact .input input{
        font-size: 15px;
    }
    .form_contact .input textarea{
        font-size: 15px;
    }
    .form_contact .btn_message{
        font-size: 12px;
    }
}
@media screen and (max-width:391px){
    .form_contact .input input{
        font-size: 12px;
    }
    .form_contact .input textarea{
        font-size: 12px;
    }
    .form_contact .btn_message{
        font-size: 10px;
    }
}

/*responsive footer*/
@media screen and (max-width:450px){
    .footer p {
        font-size: 14px;
    }
}
@media screen and (max-width:391px){
    .footer p {
        font-size: 13px;
    }
}